body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  #addItem {
    display: flex;
    gap: 0.5em;
  }
  
  #addItem > * {
    padding: 0.5em;
  }
  
  #addItem button {
    display: flex;
    gap: 0.5em;
  }
  